<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Directives in Angular</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header"></div>
                    <a class="navbar-brand" href="/">Directives in AngularJS</a>
                </div>
            </div>
        </nav>
        <div class="container main-content" ng-init="number = 0">
            <h2>{{ number }}</h2>
            <br>
            <button class="btn btn-primary" ng-click="number=number+1">+1</button>
            <button class="btn btn-warning" ng-click="number=number-1">-1</button>
            <br>
            <br>
            <!--<input type="text" name="name" ng-model="name"/>-->
            <!--<h3>Hello, this is {{ name }}</h3>-->
            <hr>
            <h2>Show me the paragraph</h2><input type="checkbox" ng-model="isChecked">
            <p ng-show="isChecked">You can see me!</p>
        </div>
        <div class="container" ng-init="number2 = 19">
            <h3>Guess the number</h3>
            <input type="text" ng-model="guess" ng-class="{red: guess !=number2, green: guess ==number2}">
            <p ng-hide="guess != number2" ng-class="{red}">Correct</p>
            <p ng-show="guess != number2" ng-class="{green}">Incorrect</p>
        </div>
        <hr>
        <div ng-init="peeps=[{'name': 'Kat', 'city':  'Manilla', 'id': 1}, {'name': 'Nat', 'city': 'Manilla', 'id': 2}, {'name': 'Choah', 'city': 'Seole', 'id': 3}, {'name':'Ellen', 'city': 'Taipei', 'id': 4}, {'name': 'Aiko', 'city': 'Nagoya', 'id': 5}, {'name': 'Suzi', 'city': 'Shanghai', 'id': 6}]">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>ID</th>
                </tr>
                <tr ng-repeat="peep in peeps">
                    <td> {{ peep.name }}</td>
                    <td> {{ peep.city }}</td>
                    <td ng-class="{red: $even, green: $odd}"> {{ peep.id }}</td>
                </tr>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </body>
</html>