
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Controllers &amp; $scope</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body ng-cloak>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Controllers &amp; $scope</a>
                </div>
            </div>
        </nav>
        <div class="container main-content" ng-controller="MyController">
            {{ number }}
            <hr>
        <button  class="btn btn-primary" ng-click="increment(5)">Add + +</button>
        <button  class="btn btn-danger" ng-click="decrement(10)">Subtract - -</button>
        </div>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>
        /* global angular */
            angular.module('myApp', []).controller('MyController', MyController);
            
            function MyController($scope){
                $scope.number = 0;
             
                $scope.increment = function(amount){
                    $scope.number = $scope.number + amount;
                };
                
                $scope.decrement = function(amount){
                    $scope.number = $scope.number - amount; 
                };
            }
        </script>
    </body>
</html>